@{
    ViewData["Title"] = "Dashboard";
}

<style>
    .card {
        padding: 10px;
        margin: 20px;
    }
</style>

<div class="container"> 

    <form method="get" action="@Url.Action("Index", "Home")">
        <div class="row mb-3">
            <div class="col-md-6">
                
                <input type="text" class="form-control" name="productoId" placeholder="Filtrar por producto...">
            </div>
            <div class="col-md-3">

                <select class="form-control" name="año">
                    <option value="">Seleccione un Año</option>
                    @for (int i = 2000; i <= DateTime.Now.Year; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
            </div>
            <div class="col-md-3">
                <select class="form-control" name="mes">
                    <option value="">Mes</option>
                    @for (int i = 1; i <= 12; i++)
                    {
                        <option value="@i">@System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(i)</option>
                    }
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col text-right">
                <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i> Buscar</button>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-6">
            <div class="col-12">
                <div class="card">
                    <div class="card-body text-center">
                        <p class="card-text">Total de Ventas</p>
                        <h5 class="card-title"> @ViewBag.TotalVentas</h5>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card">
                    <div class="card-body text-center">
                        <p class="card-text">Total de Unidades</p>
                        <h5 class="card-title">@ViewBag.TotalUnidades</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div id="graficoPorMes"></div>
            </div>
        </div>
        <div class="col-6"> 
            <div class="card"> 
                 <div id="VentasPorMarca"></div> 
            </div> 
        </div> 
        <div class="col-md-6"> 
            <div class="card">               
                <div  id="Top"></div>
            </div>
        </div>
    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        const VentasMes = JSON.parse('@Html.Raw(ViewBag.VentasPorCategoria)');
        const Categorias = JSON.parse('@Html.Raw(ViewBag.Categorias)');
        const TopVendidos = JSON.parse('@Html.Raw(ViewBag.TopVendidos)');
        const CantidadTop = JSON.parse('@Html.Raw(ViewBag.CantidadTop)');
        const seriesVentasPorMes = JSON.parse('@Html.Raw(ViewBag.SeriesVentasPorMes)');
        const categoriasVentasPorMes = JSON.parse('@Html.Raw(ViewBag.CategoriasVentasPorMes)');

        const configuracionGraficoMeses = {
            chart: {
                type: 'pie'
            },
            series: VentasMes,
            labels: Categorias,
            title: {
                text: 'Ventas por marca'
            }
        }

        const graficoSalario = new ApexCharts(
            document.getElementById('VentasPorMarca'),
            configuracionGraficoMeses
        );
        graficoSalario.render();


        const configuracionGraficoTop = {
            chart: {
                type: 'bar'
            },
            series: [
                {
                    name: 'Nombre el Producto',
                    data: CantidadTop
                }
            ],
            xaxis: {
                categories: TopVendidos
            },
            title: {
                text: 'Top 10 Productos Mas vendidos'
            }
        }

        const graficoTop = new ApexCharts(
            document.getElementById('Top'),
            configuracionGraficoTop
        );
        graficoTop.render();

        const configuracionGraficoPorMes = {
            chart: {
                type: 'line'
            },
            series: [
                {
                    name: 'Ventas',
                    data: seriesVentasPorMes
                }
            ],
            xaxis: {
                categories: categoriasVentasPorMes
            },
            title: {
                text: 'Ventas Por Mes'
            }
        }

        const graficoVentaPorMes = new ApexCharts(
            document.getElementById('graficoPorMes'),
            configuracionGraficoPorMes
        );
        graficoVentaPorMes.render();
    });
</script>
